body {
font-family: Arial;
padding: 20px;
background: #f7f7f7;
}
h1 { text-align: center; }
.chart-container {
width: 90%;
margin: auto;
padding: 20px;
}
table {
width: 90%;
margin: auto;
background: white;
border-collapse: collapse;
}
th, td {
padding: 10px;
border: 1px solid #ddd;
}
